@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-info" asp-controller="Projects" asp-action="Index">
        Projects
    </a>
    <a class="btn btn-info" asp-controller="Users" asp-action="Index">
        Users
    </a>
    <a class="btn btn-info" asp-controller="Roles" asp-action="Index">
        Roles
    </a>
    <a class="btn btn-info" asp-controller="Permissions" asp-action="Index">
        Permissions
    </a>
</div>
